/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #6750A4;
    --ifm-color-primary-dark: #29784c;
    --ifm-color-primary-darker: #277148;
    --ifm-color-primary-darkest: #205d3b;
    --ifm-color-primary-light: #33925d;
    --ifm-color-primary-lighter: #359962;
    --ifm-color-primary-lightest: #3cad6e;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --transparent: rgba(0, 0, 0, 0);

    --border-radius-large: 25px;
    --border-radius: 10px;

    --primary: #4F378B;
    --primary-container: #EADDFF;
    --hero-button-text: #4F378B;
    --hero-header-text: #FFFFFF;
    --sidebar-tint: rgba(255, 255, 255, 1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #D0BCFF;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

    --primary: #4F378B;
    --primary-container: #4A4458;
    --hero-button-text: #EADDFF;
    --hero-header-text: #381E72;
    --sidebar-tint: rgba(36, 37, 38, 0.5);
}

/* configuration for the home banner */
.heroBanner_qdFl {
    margin: 25px;
    border-radius: var(--border-radius-large);
    color: var(--hero-header-text);
}

/* the configurations for the "Let's Go!" button */
.hero__button {
    color: var(--hero-button-text);
    font-weight: 1000;
}

.hero__link {
    display: inline-block;
    border-color: var(--transparent);
    background-color: var(--primary);
}

.hero__link:hover {
    border-color: var(--transparent);
}

/* style images in blogs to be smaller and round corners */
.img_ev3q {
    max-width: 35vh;
    border-radius: var(--border-radius);
}

/* latex prints the equation twice (idk why) */
/* jerry-rigged patch for it (this is def not what you do but it works so far) */
.katex-html {
    display: none;
}

/* latex is larger */
.mjx-chtml {
    /* font-size: 1.5em !important; */
    /* Adjust value as needed */
}

/* video previews have rounded corners */
iframe {
    border-radius: var(--border-radius);
}

.pagination-nav__link {
    background-color: var(--primary-container);
}

/* when clicking on an image, it will blur the background */
.medium-zoom-overlay {
    backdrop-filter: blur(5px) !important;
}

/* justify text and auto hyphenate */
p {
    text-align: justify;
    hyphens: auto;
}

/* on dark mode, the navigation pane to the left has a glass effect for mobile */
.theme-layout-navbar-sidebar.navbar-sidebar {
    background: var(--sidebar-tint);
    backdrop-filter: blur(15px);
}

/* makes the padding even for the navigation pane */
.menu.thin-scrollbar.menu_SIkG {
    padding-right: 8px;
}